@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap');


header{
	text-align: center;
}
body {	
	font-family: 'Noto Sans KR', sans-serif;
	color: #423629;
  	background-color: #fcfcfc; 
}

form{
	text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	color: #423629;
  	background-color: #fcfcfc; 
}
.input{
	font-family: 'Noto Sans KR', sans-serif;
	width:auto;
    background-color: #d4b084;
    border: 1px #d4b084;
    border-radius: 1px;
    color:#fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}
p{
	text-align: center;
}
a{
	text-align: center;
}

div{
	margin: 50px;
	background-color: fcf4eb;
	text-align: center;
}

table {
	width: 100%;
}
td {
	padding: 15px;
	border: 1px solid #e9ded2;
	border-radius: 2px;
	margin:1px;
}

button {
	font-family: 'Noto Sans KR', sans-serif;
	width:auto;
    background-color: #d4b084;
    border: 1px #d4b084;
    border-radius: 1px;
    color:#fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}
.a{
	text-align: center;
}